<div class="container-fluid py-5" style="background-color: #ffffff;">
    <footer>
        <div class="row" style="color: rgb(138, 138, 138);">
            <div class="col-sm-3 h-100 text-center mb-3">
                <img src="./assets/img/logoPtesaPie.png" alt="Profesionales en Transacciones Electrónicas" style="width: 70%; opacity: 0.7">
            </div>
            <div class="col-sm-3 h-100 mb-3">
                <h5>Información:</h5>
                <div class="ml-3"><span class="fa fa-map-marker"></span> Carrera 12 No.89-28 Piso 5</div>
                <div class="ml-3"><span class="fa fa-phone"></span> +57 1 642-00-03</div>
                <div class="ml-3"><span class="fa fa-envelope"></span> info@ptesa.com</div>
                <div class="ml-3"><span class="fa fa-globe"></span> Bogotá, Colombia</div>
            </div>
            <div class="col-sm-2 h-100 mb-3">
                <h5>Síganos:</h5>
                <div class="ml-3 botonPie"><span class="fa fa-facebook-square fa-lg"></span> Facebook</div>
                <div class="ml-3 botonPie"><span class="fa fa-twitter-square fa-lg"></span> Twitter</div>
                <div class="ml-3 botonPie"><span class="fa fa-youtube-square fa-lg"></span> Youtube</div>
                <div class="ml-3 botonPie"><span class="fa fa-linkedin-square fa-lg"></span> LinkedIn</div>
            </div>
            <div class="col-sm-2 h-100 mb-3">
                <h5>Certificación:</h5>
                <p class="ml-3" style="line-height: 14px"><small>Proveedor autorizado por la DIAN según resolución 2537 del 7 de abril del 2017.</small></p>
                <p class="ml-3" style="line-height: 14px"><small>Certificación ISO/IEC 27001:2003 No. SG2019000274  </small></p>
            </div>
            <div class="col-sm-2 h-100 text-center">
                <img src="./assets/img/logoIso27001.png" alt="Profesionales en Transacciones Electrónicas" style="width: 60%; opacity: 0.7">
            </div>
        </div>
        <hr class="text-danger" style="border-top-color: rgba(255, 255, 255, 0.1)">
        <div class="row" style="color: rgb(138, 138, 138);">
            <div class="col-sm-12 text-center">
                <p>Términos y Condiciones del Servicio | Política de Privacidad y Manejo de Datos</p>
                <p>© <br> 2020</p>
            </div>
        </div>
    </footer>
</div>