.celda {
    vertical-align: middle;
}

.razonSocialEllipsisTabla {
    /* display: inline-block; */
    /* width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    text-align: left;
    /* margin: 0 auto; */
}