<div class="accordion" id="indiceAyuda">
    <div class="card">
        <div class="card-header" id="tit-intro">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#op1">
            INTRODUCCIÓN
          </button>
            </h2>
        </div>

        <div id="op1" class="collapse show" data-parent="#indiceAyuda">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a href="">¿Que es la Facturación Electrónica?.</a> </li>
                    <li class="list-group-item"> <a href="">Beneficios de la Facturación Electrónica.</a> </li>
                    <li class="list-group-item"> <a href="">Facturación electrónica con validación previa.</a> </li>
                    <li class="list-group-item"><a href="">PTESA, como proveedor tecnológico autorizado por la Dian.</a></li>
                    <li class="list-group-item"><a href="">Conceptos básicos.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="tit-cap1">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#op2">
            USUARIOS
          </button>
            </h2>
        </div>
        <div id="op2" class="collapse" data-parent="#indiceAyuda">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a href="">Creación de usuarios.</a> </li>
                    <li class="list-group-item"><a href="">Róles y permisos.</a></li>
                    <li class="list-group-item"><a href="">Seguridad.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="tit-cap2">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#op3">
            COMPAÑÍAS / SUCURSALES
          </button>
            </h2>
        </div>
        <div id="op3" class="collapse" data-parent="#indiceAyuda">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a href="">Creación de usuarios.</a> </li>
                    <li class="list-group-item"><a href="">Róles y permisos.</a></li>
                    <li class="list-group-item"><a href="">Notificaciones.</a></li>
                    <li class="list-group-item"><a href="">Seguridad.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="tit-cap3">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#op4">
                    EMISIÓN DE DOCUMENTOS
                </button>
            </h2>
        </div>
        <div id="op4" class="collapse" data-parent="#indiceAyuda">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <a href="">¿Como facturar?</a> </li>
                    <li class="list-group-item"><a href="">Carga de Documentos Fiscales Electrónicos vía portal web.</a></li>
                    <li class="list-group-item"><a href="">Rastreo de documentos cargados.</a></li>
                    <li class="list-group-item"><a href="">Búsqueda de Documentos Fiscales Electrónicos emitidos.</a></li>
                    <li class="list-group-item"><a href="">Tarjetas vs Filas.</a></li>
                    <li class="list-group-item"><a href="">Detalle de documentos emitidos.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="tit-cap4">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#op5">
            ADQUIRIENTES
          </button>
            </h2>
        </div>
        <div id="op5" class="collapse" data-parent="#indiceAyuda">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>