.jumbotron {
    background-image: url('/assets/img/imagenUsuarios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 3px #383082;
    overflow: hidden;
}